@import '../services/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    //font-family: 'Poppins', sans-serif;

}

body {
    background-color: #1E1E1E;
    color: #29292E;
}


body,
input,
button,
textarea {
    font: 400 16px 'Roboto';
}



// body::-webkit-scrollbar-track {

//     /* color of the tracking area */
// }

body::-webkit-scrollbar-thumb {
    background-color: rgb(215, 215, 218);

}

body::-webkit-scrollbar {
    width: 3px;
    height: 4px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar {
    width: 2px;
}

.outlined {
    background: #fff;
    border: 1px solid purple;
    padding: 50px;
}